name: Build QEMU for Android

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-aarch64:
    name: Build QEMU for aarch64 Android
    runs-on: ubuntu-latest
    env:
      QEMU_VERSION: 7.2.21
      ANDROID_API: 21
      ANDROID_NDK_VERSION: r25c
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: ${{ env.ANDROID_NDK_VERSION }}

      - name: Download QEMU source
        run: |
          wget https://download.qemu.org/qemu-${{ env.QEMU_VERSION }}.tar.xz
          tar xf qemu-${{ env.QEMU_VERSION }}.tar.xz

      - name: Configure for Android aarch64
        run: |
          cd qemu-${{ env.QEMU_VERSION }}
          ./configure \
            --target-list=aarch64-softmmu,aarch64-linux-user \
            --cross-prefix=${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android${ANDROID_API}- \
            --cc=${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64/bin/clang \
            --cxx=${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64/bin/clang++ \
            --extra-cflags="-fPIE -D__ANDROID_API__=${ANDROID_API}" \
            --extra-ldflags="-pie" \
            --disable-sdl --disable-gtk --disable-vnc \
            --disable-xen --disable-linux-aio

      - name: Build
        run: |
          cd qemu-${{ env.QEMU_VERSION }}
          make -j$(nproc)

      - name: Upload aarch64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: qemu-aarch64-android
          path: |
            qemu-${{ env.QEMU_VERSION }}/qemu-system-aarch64
            qemu-${{ env.QEMU_VERSION }}/qemu-aarch64

  build-x86_64:
    name: Build QEMU for x86_64 guest on Android host
    runs-on: ubuntu-latest
    env:
      QEMU_VERSION: 7.2.21
      ANDROID_API: 21
      ANDROID_NDK_VERSION: r25c
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: ${{ env.ANDROID_NDK_VERSION }}

      - name: Download QEMU source
        run: |
          wget https://download.qemu.org/qemu-${{ env.QEMU_VERSION }}.tar.xz
          tar xf qemu-${{ env.QEMU_VERSION }}.tar.xz

      - name: Configure for Android x86_64 guest
        run: |
          cd qemu-${{ env.QEMU_VERSION }}
          ./configure \
            --target-list=x86_64-softmmu,x86_64-linux-user \
            --cross-prefix=${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64/bin/x86_64-linux-android${ANDROID_API}- \
            --cc=${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64/bin/clang \
            --cxx=${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64/bin/clang++ \
            --extra-cflags="-fPIE -D__ANDROID_API__=${ANDROID_API}" \
            --extra-ldflags="-pie" \
            --disable-sdl --disable-gtk --disable-vnc \
            --disable-linux-aio

      - name: Build
        run: |
          cd qemu-${{ env.QEMU_VERSION }}
          make -j$(nproc)

      - name: Upload x86_64 artifact
        uses: actions/upload-artifact@v4
        with:
          name: qemu-x86_64-android
          path: |
            qemu-${{ env.QEMU_VERSION }}/qemu-system-x86_64
            qemu-${{ env.QEMU_VERSION }}/qemu-x86_64